@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Karla";
}
html{
    padding: 0;
}
body{
    width: 90rem;
    margin: 0 auto;
    height: 80vh;
}
.container{
    background:hsl(204, 43%, 93%);
    width: 90rem;
    height: 50rem;
    display: grid;
    place-items: center;
}
article{
    width: 39.375rem;
    height: 29.813rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.join-us{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    background: #fff;
    border-radius: 8px 8px 0 0;
}
.join-us h1 {
    font-size: 1.5rem;
    font-family: "Karla";
    font-weight: 700;
    color:hsl(179, 62%, 43%) ;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: flex-start;
}
.text h2{
    font-size: 1.25rem;
    font-family: "Karla",sans-serif;
    font-weight: 700;
    color:hsl(71, 73%, 54%) ;
}
.text p{
    font-family: "Karla",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
    color:hsl(218, 22%, 67%);
}
/* signup -why-us*/
.signup-why-us{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
}
.signup{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding:2.5rem 2.81rem;
    width:50%;
    align-items: flex-start;
    background: hsl(179, 62%, 43%);
    align-self: stretch;
    color: hsl(204, 43%, 93%);
    border-radius: 0 0 0 8px;
}
.signup h2{
    font-family: "Karla";
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01125rem;
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5625rem;
    align-self: stretch;
}
.offer p{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.04rem;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.price h1{
    font-family: Karla;
    font-size: 2rem;
    font-weight: 700;
}
button{
    border: 0;
    outline: 0;
    color: #fff;
    background:hsl(71, 73%, 54%);
    width: 14.063rem;
    padding:0.938rem 0.625rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
}
button:hover{
    cursor: pointer;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

.whyus{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding:2.5rem 2.81rem;
    align-items: flex-start;
    color: white;
    background:#4ABEBD;;
    width: 50%;
    border-radius: 0 0 8px 0;
}
.whyus h2{
    font-size: 1.125rem;
    font-weight: 700;
}
.whyus ul li{
    color: white;
    font-size: 1rem;
    letter-spacing: -0.02rem;
    font-weight: 400;
    list-style: none;
    margin-bottom: 2px;
}
@media screen and (max-width:430px){
    .container{
        background:hsl(204, 43%, 93%);
        width: 23.4375rem;
        height: 50.75rem;
        display: grid;
        padding: 3.125rem 1.5rem;
        overflow: hidden;
    }
    .signup-why-us{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        border-radius: 0 0 8px 8px;
    }
    article{
        width: 19.815rem;
        height: 44.5rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto; /* Enable vertical scrolling */
        -webkit-overflow-scrolling: touch; /* Enable smooth touch scrolling for iOS */
        touch-action: pan-y; /* Allow vertical panning (swiping) */
    }
    .whyus{
        width: 100%;
        overflow-y: auto; /* Enable vertical scrolling */
        -webkit-overflow-scrolling: touch; /* Enable smooth touch scrolling for iOS */
        touch-action: pan-y; /* Allow vertical panning (swiping) */
    }
    .signup{
        width:100%;
        border-radius: 0 0 0 0px;
    }
    body
    {   margin: 0 auto;
        height: 50vh;
    
    }
    footer{
        width: 300px;
        margin-top: 12px  0;
    }
}
